.direction__bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

}

.direction__option {
    list-style: none;
}

.direction__logo {
    margin: 0 0.33em 0 0.33em;
    padding: 0.25em;
    height: 30px;
    width: 30px;
    border-radius: 25%;
    cursor: pointer
}

/* When hovering over single icon blur the others */
.direction__bar:hover .direction__option:not(:hover) {
    opacity: 0.5;
    transition: 0.25s ease-in-out;
}

.google__logo {
    background: white;
}

.waze__logo {
    background: skyblue;
}

.apple__logo {
    background: #9CE177
}

.bing__logo {
    background: #00809D;
}