.App {
	text-align: center;
}

.tooltip__override {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	background: #171819;
}

.app__container {
	background: #232429;
	display: grid;
	grid-template-columns: minmax(300px,25%)1fr;
}

.app__sidebar {
	padding: 1.25em; 
}