@import url("https://fonts.googleapis.com/css2?family=Rubik");
body {
	margin: 0;
	padding: 0;
	font-family: "Rubik", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
}

a, a:visited {
	color: white;
	text-decoration: none;
}
